body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
p{
  text-align: center;
  color: #f0f0f0;
}

.calculator {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  background-color: #666;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.display input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
  text-align: right;
  border: none;
  background-color: #666;
  color: white;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.keys button {
  padding: 15px;
  font-size: 1.2em;
  background-color: #888;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.keys button:hover {
  background-color: #666;
}
